@font-face{
  font-family: "KFO-A";
  src: url("./assets/fonts/KFOmCnqEu92Fr1Mu4mxK.ttf");
}

@font-face{
  font-family: "KFO-B";
  src: url("./assets/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.ttf");
}

@font-face{
  font-family: "Jost";
  src: url("./assets/fonts/jost-variable.ttf");
}


:root{
  --main: #0b48ed;
  --main-dark: #1137ca;
  --grey: #ffffff81;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "KFO-A";
  width: 100%;
  height: 100%;
  color: white;
  background-color: var(--main-dark);
}

section{
  position: relative;
  width: 100vw;
  height: 100vh;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

canvas{
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

.wrap{
  flex-wrap: 1 0 auto;
}

.main-btn{
  font-family: "KFO-B";
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--main);
  color: white;
  border: 2px solid  white;
  font-size: 15px;
  transition: all .4s;
}

.main-btn:hover{
  background-color: transparent;
}

#main{
  position:  relative;
  overflow:  hidden;
  will-change: transform;
}

#page1{
  height: 100vh;
  width: 100vw;
  background-color: var(--main);
  position: relative;
}

#page1>video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page1>nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position:  absolute;
  z-index: 1;
  height: 10vh;
  width: 100vw;
}


.bottom-page1{
  position: absolute;
  z-index: 1;
  width: 40vw;
  height: 35vh;
  bottom: 5%;
  left: 15%;
}

.bottom-page1>h1{
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  color: #fff;
}

.bottom-page1-inner{
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
}

.bottom-page1-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-page1-inner>button{
  padding: 15px 40px;
  font-family: "Jost";
  border: none;
  background-color: #fff;
  color: var(--main);
  font-size: 16px;
}

.bottom-page1-inner>h4{
  font-size: 1.3vw;
  font-weight: 100;
  color: #fff;
}

/*----------------------------------------------------page2--------------------------------------------------------*/

#page2{
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  background-color: var(--main-dark);
}

#page2{
  padding: 0vw 8vw;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

#page2>h2{
  margin-bottom: 3vw;
  font-weight: 100;
}

#page2>h1{
  width: 90%;
  font-size: 4vw;
  font-weight: 100;
  line-height: 1.3;

  color: var(--grey);
}


/*----------------------------------------------------page3-----------------------------------------------------*/

#page3{
  position: relative;
  height: 100vh;
  width: 100vw;
}


/*----------------------------------------------------page4----------------------------------------------------*/

#page4{
  z-index: 2;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

#page4>h3{
  margin-left: 10vw;
  margin-bottom: 2vw;
}

#page4>h1{
  margin-left: 10vw;
  width: 70%;
  font-size: 3vw;
  font-weight: 100;
  color: var(--grey);
}


/*----------------------------------------------------page6--------------------------------------------------------*/

#page6{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

#page6>h3{
  margin-left: 15vw;
  font-weight: 100;
  color: #fff;
  margin-bottom: 2vw;
}

#page6>h1{
  margin-left: 15vw;
  font-size: 3vw;
  font-weight: 100;
  width: 70%;
  color: var(--grey);
}

/*----------------------------------------------------page7----------------------------------------------------*/

.page7-cir{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  width: 25vw;
  height: 25vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 1px solid;
}

.page7-cir-inner{
  height: 70%;
  width: 70%;
  border: 1px solid;
  border-radius: 50%;
}


/*----------------------------------------------------page8--------------------------------------------------------*/

#page8>video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page8-bottom{
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.page8-bottom>h1{
  font-weight: 100;
  margin: 2vw;
  font-size: 4vw;
}

.page8-bottom>button{
  padding: 20px 30px;
  background-color: #fff;
  color: var(--main)
}

/*----------------------------------------------------page9--------------------------------------------------------*/

#page9{
  display: flex;
}

.page9-left{
  position:  relative;
  width: 40%;
  height: 100%;
}

.page9-left>h1{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 100;
  color: #fff;
  line-height: 1;
}

.page9-right{
  position: relative;
  width: 60%;
  height: 100%;
}

.page9-right-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 85%;
  height: 50%;
  left: 5%;
  border-radius: 10px;
  background-image: url("https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg");
  background-size: cover;
}



/*----------------------------------------------------page10--------------------------------------------------------*/

.page10-right{
  height: 100%;
  width: 60%;
  position: relative;
  left: 40%;
}

.page10-right-inner{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: 33.3%;
}

.page10-right-inner>h1{
  font-size: 2vw;
  font-weight: 100;
}

.page10-right-inner>p{
  margin-top: 2vw;
  font-size: 1.3vw;
  width: 80%;
  font-weight: 100;
}

/*----------------------------------------------------page11------------------------------------------------------*/
#page11{ 
  padding-bottom: 80px;
  background-color: white;
  height: 100vh;
}

#page11>h1{
  position: absolute;
  top: 5%;
  left: 10%;
  font-size: 4vw;
  color: #000;
  font-weight: 100;
}

.page11-inner{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 24%;
  margin-bottom: 2vw;
  height: 25%;
  width: 100%;
}

.page11-inner-left{
  display: flex;
  justify-content: center;
  position: relative;
  left: 5%;
  height: 100%;
  width: 40%;
}

.page11-inner-left>img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.page11-inner-right{
  padding-top: 5vw;
  position: absolute;
  height: 100%;
  width: 50%;
  left: 50%;

  color: #000;
}

.page11-inner-right>h1{
 font-size: 2vw;
}

.page11-inner-right>h4{
  font-weight: 100;
}

/*----------------------------------------------------page12------------------------------------------------------*/
/* 
.page12-inner{
  position: absolute;
  top: 40%;
  right: 10%;
  color: #fff;
}

.page12-inner>h1{
  font-size: 5vw;
  font-weight: 100;
}

.page12-inner>p{
  font-size: 1.3vw;
} */


/*----------------------------------------------------page13------------------------------------------------------*/


#page13{
  display: flex;
  align-items: start;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10vw;
  background-color: #000;
}

#page13>h1{
  margin-left: 5vw;
  font-size: 5vw;
  line-height: 1;
  font-weight: 100;
}

#page13>button{
  margin-left: 5vw; 
  margin-top: 2vw;
  border: none;
  margin-bottom: 5vw;
}


.page13-bottom{
  width: 100%;
  margin-top: auto;
}

.page13-inner{
  position: relative;
  cursor: pointer;
  padding: 60px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28%;
  z-index: 1;
  width: 100%;
  border-top: 2px solid #fff;
  background-color: #000;
}

.page13-inner::after{
  margin: auto;
  background-color: var(--main);
  width: 100%;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 0;
  transition: all .6s;
  opacity: 0;
}

.page13-inner:hover.page13-inner::after{
  height: 100%;
  opacity: 1;
}
.page13-inner:hover.page13-inner>img{
  scale: 1.5;
}

.page13-inner>h1{
  position: relative;
  z-index: 2;
  font-weight: 100;
  font-size: 3vw;
}

.page13-inner>img{
  position: relative;
  z-index: 2;
  width: 3vw;
  height: 3vw;
  transition: all .4s;
}